<div class="serviceRequestHolder">
  <div>
    <h1>Service Request</h1>
    <div>
      <button class="btn btn-primary" routerLink="/chequebookrequest" type="submit">Request a new Cheque book</button><br><br>
      <button class="btn btn-primary" routerLink="/StolenOrLost" type="submit">Report Lost/Stolen Card</button><br><br>
      <button class="btn btn-primary" routerLink="/queryRequest" type="submit">Post a Query</button><br><br>
      <button class="btn btn-danger" routerLink="/menu" type="submit">Back</button>
    </div>
    <br />
  </div>
</div>
