<div class="customerMenuHolder">
  <div>
    <h1 style="float: left"> &nbsp;Customer Service Menu</h1>
    <h1 style="float: right">Welcome {{ customerName }}&nbsp;</h1><br>
    <div>
      <br><br>
      <br><button style="float: right" class ="btn btn-danger" (click)="logOut()" type="submit">Sign Out</button>

      <button  class ="btn btn-primary btn-style" routerLink="/profile" type="submit">My Profile</button><br>
      <button  class ="btn btn-primary btn-style" routerLink="/makeservicerequest" type="submit">Make a Service Request</button><br>
      <button  class ="btn btn-primary btn-style" routerLink="/viewRequestStatus" type="submit">View Requet status</button><br>
      <button  class ="btn btn-primary btn-style" routerLink="/account" type="submit">My Account</button><br>

    </div>
    <br />
  </div>
</div>
